kind: role
version: v5
metadata:
  name: k8s-access
spec:
  allow:
    kubernetes_labels:
      '*': '*'
    kubernetes_resources:
      - kind: '*'
        namespace: '*'
        name: '*'
    kubernetes_groups:
      - '{{ teleport_user }}'
      - 'system:masters'
    logins: ['{{ teleport_user }}', 'root']
  options:
    forward_agent: true
    max_session_ttl: 8h0m0s
