version: v3
teleport:
  nodename: "{{ inventory_hostname }}"
  data_dir: {{ teleport_data_dir }}
  join_params:
    token_name: ""
    method: token
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: ""
  diag_addr: ""

auth_service:
  enabled: yes
  listen_addr: 0.0.0.0:3025
  cluster_name: {{ teleport_host | regex_replace(':.*$', '') }}
  proxy_listener_mode: multiplex
  session_recording: node

ssh_service:
  enabled: yes
  labels:
    env: dev


proxy_service:
  enabled: yes
  web_listen_addr: 0.0.0.0:443
  public_addr: {{ teleport_host }}
  https_keypairs:
    - cert_file: /tmp/teleport.cer
      key_file: /tmp/teleport.key

kubernetes_service:
  enabled: yes
  listen_addr: 0.0.0.0:3027 
  kubeconfig_file: /etc/rancher/k3s/k3s.yaml


app_service:
  enabled: true
  debug_app: true 
  resources:
    - labels:
        "*": "*"        
  apps:
    - name: argocd
      uri: "http://localhost:32001"            
      public_addr: "argocd.teleport.exploravis.mywire.org"
      insecure_skip_verify: true
