kind: role
version: v7
metadata:
  name: admin
spec:
  allow:
    app_labels:
      '*': '*'
    logins: ['root', "{{ansible_user}}"]
    node_labels:
      '*': '*'
    
    kubernetes_labels:
      '*': '*'
    kubernetes_groups: ['system:masters']
    kubernetes_resources:
      - kind: '*'  
        namespace: '*'
        name: '*'
    
    db_labels:
      '*': '*'
    
    rules:
      - resources: ['*']
        verbs: ['*']
      - resources: [user]
        verbs: [renew]
    verbs: ['*']
  
  options:
    forward_agent: true
    max_session_ttl: 8760h0m0s
    pin_source_ip: false
