kind: role
version: v5
metadata:
  name: admin
spec:
  allow:
    logins: ["{{ teleport_user }}", "root", ]
    node_labels:
      "*": "*"
    kubernetes_labels:
      "*": "*"
    kubernetes_groups: ["system:masters"]
  options:
    forward_agent: true
    max_session_ttl: 8h0m0s
