- name: Ensure APT cache is up to date
  ansible.builtin.apt:
    update_cache: yes
    force_apt_get: yes
    update_cache_retries: 5

- name: Install required packages for K3s
  ansible.builtin.apt:
    name:
      - curl
      - iptables
      - socat
      - conntrack
      - ca-certificates
      - gnupg
      - jq 
      - openssl
    state: present
    update_cache: yes

- name: Install K3s server without Traefik
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--disable traefik,servicelb" sh -
  args:
    creates: /usr/local/bin/k3s
  register: k3s_install_result

- name: Get node token
  ansible.builtin.slurp: 
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token
- name: Set token fact
  ansible.builtin.set_fact:
    k3s_token: "{{ node_token['content'] | b64decode | trim }}"

- name: Ensure K3s service is running and enabled
  ansible.builtin.systemd:
    name: k3s
    state: started
    enabled: yes

