- name: Ensure local linux user exists
  ansible.builtin.user:
    name: "{{ teleport_user }}"
    shell: /bin/bash
    state: present

- name: Deploy admin bot
  ansible.builtin.template:
    src: templates/roles/admin-bot-role.yaml.j2
    dest: /tmp/admin-bot-role.yaml
    mode: '0644'

- name: Deploy admin role template
  ansible.builtin.template:
    src: templates/roles/admin-role.yaml.j2
    dest: /tmp/admin-role.yaml
    mode: '0644'

# - name: Deploy bot-admin role template
#   ansible.builtin.template:
#     src: templates/roles/bot-admin-role.yaml.j2
#     dest: /tmp/bot-admin-role.yaml
#     mode: '0644'

- name: Deploy dev role template 
  ansible.builtin.template:
    src: templates/roles/developer-role.yaml.j2
    dest: /tmp/developer-role.yaml
    mode: '0644'


- name: Deploy devops role template 
  ansible.builtin.template:
    src: templates/roles/devops-role.yaml.j2
    dest: /tmp/devops-role.yaml
    mode: '0644'


- name: Deploy readonly role template 
  ansible.builtin.template:
    src: templates/roles/readonly-role.yaml.j2
    dest: /tmp/readonly-role.yaml
    mode: '0644'


- name: Deploy bot-token yaml
  ansible.builtin.template:
    src: templates/bot-token.yaml.j2
    dest: /tmp/bot-token.yaml
    mode: '0644'


- name: Wait for Teleport to be fully ready
  ansible.builtin.wait_for:
    path: "{{ teleport_data_dir }}/host_uuid"
    state: present
    timeout: 60


- name: Apply admin role
  ansible.builtin.shell: |
    tctl create -f /tmp/admin-role.yaml --force
  args:
    executable: /bin/bash


- name: Apply bot admin role
  ansible.builtin.shell: |
    tctl create -f /tmp/admin-bot-role.yaml --force
  args:
    executable: /bin/bash


- name: Apply developer role
  ansible.builtin.shell: |
    tctl create -f /tmp/developer-role.yaml --force
  args:
    executable: /bin/bash

- name: Apply devops role
  ansible.builtin.shell: |
    tctl create -f /tmp/devops-role.yaml --force
  args:
    executable: /bin/bash

- name: Apply readonly role
  ansible.builtin.shell: |
    tctl create -f /tmp/readonly-role.yaml --force
  args:
    executable: /bin/bash

- name: Apply GitHub connector
  ansible.builtin.shell: |
    tctl create -f /etc/teleport/github.yaml --force
  args:
    executable: /bin/bash


- name: Apply bot token
  ansible.builtin.shell: |
    tctl create -f /tmp/bot-token.yaml --force
  args:
    executable: /bin/bash



- name: Create Teleport admin user if not exists
  ansible.builtin.shell: |
    tctl get users {{ teleport_user }} >/dev/null 2>&1 || \
    tctl users add {{ teleport_user }} --roles=admin --logins=root,ubuntu,azureuser,{{ teleport_user }} > /tmp/tp_invite.txt
  args:
    executable: /bin/bash
  changed_when: false
  ignore_errors: true

- name: Copy RBAC template to host
  ansible.builtin.copy:
    src: templates/rbac-group.yaml
    dest: /tmp/rbac-group.yaml
    mode: '0644'

- name: Apply Kubernetes group RBAC on host
  ansible.builtin.shell: |
    kubectl apply -f /tmp/rbac-group.yaml --kubeconfig /etc/rancher/k3s/k3s.yaml
  args:
    executable: /bin/bash

