name: Ansible Workflow
on:
  workflow_call:
    secrets:
      TF_TOKEN_APP_TERRAFORM_IO:
        required: true
      ARM_CLIENT_ID:
        required: true
      ARM_CLIENT_SECRET:
        required: true
      ARM_SUBSCRIPTION_ID:
        required: true
      ARM_TENANT_ID:
        required: true
      SLACK_WEBHOOK: 
        required: true
  workflow_dispatch:
jobs:
  ansible:
      name: Ansible Kubernetes Deployment
      runs-on: ubuntu-latest
      env:
        TF_TOKEN_app_terraform_io: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK}}
      defaults:
        run:
          working-directory: .

      steps:
        - name: Checkout repo
          uses: actions/checkout@v2


        - uses: hashicorp/setup-terraform@v3
          with:
            terraform_version: latest

        - run: terraform init -reconfigure
          working-directory: ./terraform


        - name: Generate ansible inventory
          run: bash ./scripts/generate_ansible_inv.sh     

        - name: Run Ansible Inventory
          run: bash ./scripts/install_k3s.sh


        - name: Send Slack alert 
          run: | 
            curl -X POST -H 'Content-type: application/json' --data '{"text":"Kubernetes has been installed and configured on the cluster"}' ${{ secrets.SLACK_WEBHOOK }}  

